<%= form_for(@book) do |f| %>


  <div class="field">
    <h4>Title</h4>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <h4>Body</h4>
    <%= f.text_field :body %>
  </div>
  <div class="actions">
    <!-- 更新ボタン update -->
    <%= f.submit 'Update Book' %>
  </div>

  <%= link_to 'Show', book_path(@book.id) %>
  <%= link_to 'Back', books_path %>

<% end %>